/* Page pour les news / commentaires */

body {
	background-color: white;
	margin: auto;
}
section {
	padding: 20px;
}
/* Navigation */
header {
	background-image: url('../images/banniere.webp');
	background-size: 100%;
	background-position: 0% 40%;
	background-repeat: no-repeat;
	color: white;
	height: 350px;
}
a {
	color: grey;
}
.logo_site {
	width: 150px;
}
.bouton {
	text-align: right;
	padding-top: 300px;
}
.slogan {
	display: none;
}
.image_reseaux {
	width: 35px;
}
.titre {
	margin-top: 20px;
	font-size: 40px;
	text-align: center;
	margin-bottom: 10px;
}
.auteur-news {
	text-align: right;
	font-style: italic;
}
.news {
	text-align: center;
	margin-bottom: 50px;
}
.image_news {
	border: 1px solid grey;
	border-radius: 100%;
	width: 200px;
	height: 200px;
	object-fit: cover;
}
.effet_news {
	display: inline-block;
	position: relative;
}
.effet_news:hover p.text  {
	opacity: 1;
}
.effet_news p.text  {
	color: #FFF;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	padding-top: 85px;
	opacity: 0;
	display: block;
	position: absolute;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
}
.titre_news, .titre_news a {
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 17px;
}
.description_news, .bloc_auteur {
	font-size: 12px;
	text-align: justify;
}
.auteur_news {
	float: left;
}
.date_news {
	float: right;
}
.bloc-auteur {
	padding: 10px;
}
.a-propos-auteur, .informations_compte {
	text-align: center;
}
.auteur-avatar {
	width: 100px;
	padding-right: 15px;
}
.bg-redacteur {
	color: white;
	background-color: #40A497;
}
.bg-community-manager {
	color: white;
	background-color: #632569;
}
.bg-modo {
	background-color: #31B404;
}
.bg-dev {
	background-color: #4080BF;
}
.admin {
	color: white;
	background-color: darkblue;
}
.card-recrutements {
	margin-left: 30px;
}
/* Footer */
.footer 
{
	background: #333333;
	height: auto;
	color: white;
	font-size: 15px;
	padding-bottom: 20px;
	padding-top: 10px;
	border-bottom: 1px solid #212121;
	border-top: 1px solid #DDDDDD;
}
.footer h3 
{
	border-bottom: 1px solid #BAC1C8;
	color: white;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding-top: 20px;
	padding: 10px 0 10px;
	text-transform: uppercase;
}
.footer p 
{
	color: white;
}
.footer-bottom 
{
	background: #212121;
	border-top: 1px solid #212121;
	padding-top: 10px;
	width: auto;
	font-size: 15px;
	text-align: center;
	padding-bottom: 5px;
}
footer-bottom p.pull-left 
{
	color: white;
}
.pull-left 
{
	color: white;
}
.lien_site li
{
	display: inline-block;
}
.lien_site a
{
	color: white;
}
.lien_site a:hover
{
	color: grey;
	text-decoration: none;
}

/* Partie commentaire */
.bloc-avatar-news {
	border-right: 3px solid grey;
}
.avatar-news {
	width:100px;
	height:100px;
	border:3px solid white;
	border-radius:100px;
	margin-top:5px;
	display: block;
	margin: auto;
}
.pseudo {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 10px;
}
.bottom {
	right: 0;
	position: absolute;
	bottom: 0;
}
#temporate-message{
	position: fixed;
	top:100px;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	border: 1px solid grey;
	padding:20px;
	border-radius: 6px;
	text-align: center;
	-webkit-box-align: center;
}

/* Comptes */

.avatar_site img
{
	width: 100px;
	display: block;
	margin: auto;
}

/* Galeries */
.card-galeries {
	margin-bottom: 15px;
	margin-right: 15px;
}
.image_galeries
{
	display: block;
	margin: auto;
	padding-top: 10px;
	max-width: 35%;
}
.cookie-alert {
	position: fixed;
	bottom: 20px;
	right: 1%;
	border-radius: 10px;
	background: white;
	color: black;
	padding:10px 15px;
	width:15%;
	z-index:100;
	border: 1px solid purple;
}
.cookie-alert a { 
	display:block;
	text-align: center;
	padding:5px 10px;
	margin:8px auto 0 auto;
	border-radius: 10px;
	background:transparent;
	border: 2px solid purple;
	color: purple;
	transition: all .3s ease;
}
.cookie-alert a:hover {
	background: #46A2D9;
	color:#2f2f2f;
}

/* Jeux */

.card-jeux {
	margin-bottom: 20px;
}
h2.jv_index::first-letter {
	color: red;
}

h2.jv_index{
	font-family: 'Bangers', cursive;
}

input[name="etoile1"], input[name="etoile2"], input[name="etoile3"], input[name="etoile4"], input[name="etoile5"]{
	display: inline-block;
	background: none;
	width: 25px;
	height: 25px;
	border: none;
	padding: none;
	margin: none;
}
.color_yes{
	color: green;
}

.color_no{
	color: black;
}

.title_jeu {
	font-family: 'Stint Ultra Condensed', cursive;
	font-size: 32px;
	margin-left: 20px;
	margin-right: 20px;
	color: #328EC0;
	border-bottom: 1px dashed #328EC0;
}
.onglet {
	position: absolute;
	right: 10px;
	top: 10px;
	font-family: 'Marvel', serif;
	padding: 5px 10px 5px 10px;
	border-radius: 3px;
	background-color: #8CC4E1;
	color: white;
	font-weight: bold;
	object-fit: cover;
}
.title_last_art{
	position: absolute;
	bottom: 0;
	left: 0;
	background: url('https://zupimages.net/up/18/26/c5wf.png');
	font-family: 'Marvel', serif;
	font-size: 25px;
	color: white;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

#onglet .cat_active{
	display:block;
	margin:auto;
	width: 100%;
	margin-bottom:5px;
	text-align:center;
	font-weight:bold;
	color:#C89DE7;
	border: 1px solid #C89DE7;
	border-radius:2px;
	padding:2px 5px 2px 5px;
	transition: all ease 300ms;
}
#onglet .name_cat{
	display:block;
	margin:auto;
	width: 100%;
	margin-bottom:5px;
	text-align:center;
	font-weight:bold;
	color: #8CC4E1;
	border: 1px solid #8CC4E1;
	border-radius:2px;
	padding:2px 5px 2px 5px;
	transition: all ease 300ms;
}

#onglet .name_cat:hover{
	color:red;
	border-color:red;
	transition: all ease 300ms;
	cursor: pointer;
}

div.pit_mess{
	border-left:3px solid #AE77F9;
}

div.bloc_page{
	position:relative;
	margin-bottom:15px;
	min-height:50px;
	width: 100%;
	padding-left:5px;
	padding-right:2px;
	padding-bottom:20px;
	-moz-box-shadow: 2px 2px 5px 0px #cfcfcf;
	-webkit-box-shadow: 2px 2px 5px 0px #cfcfcf;
	-o-box-shadow: 2px 2px 5px 0px #cfcfcf;
	box-shadow: 2px 2px 5px 0px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);
}

.titre_pit_mess{
	font-family: 'Quicksand', sans-serif;
	color:#AE77F9;
	font-size:18px;
	word-wrap: break-word;
}

#titre
{
	color: black;
	text-align: center;
	font-family: 'Oswald', cursive;
	font-size: 30px;
	padding-top: 20px;
}

.date_time_post_page{
	position:absolute;
	bottom:2;
	right: 0;
	padding-right: 10px;
	text-align: right;
	font-style:italic;
	font-family:'Marvel', serif;
}

.dernier_articles {
	border-right: 1px solid grey;
}
.col-sm-2 {
    min-width: 200px;
}

.image_tiny
{
	max-width: 100%;
	object-fit: contain;
}
@media screen and (max-width: 480px){
	.dernier_articles {
		border-right: none;
	}
	.bouton {
		padding-top: 200px;
	}
	.titre {
		margin-top: 0px;
	}
	header {
		height: 275px;
	}
	.bottom {
		display: none;
	}
	iframe {
		width: 100%;
	}
	.cookie-alert {
      text-align: center;
      left: 0; right: 0;
        margin: 0 auto;
      max-width:90%;
      padding:10px 30px;
   }
}
