
@font-face {
	font-family: "Eater";
	src: url("../temp/Eater-Regular.ttf") format("truetype");
}
/* Feuille CSS réservée à la page index.php */
body {
	background-color: #a69b92;
	margin: auto;
}
section {
	padding: 20px;
}
a {
	color: orange;
}
/* Header */
header {
	background-image: url('https://www.mangasfan.fr/temp/halloween.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: white;
	height: 700px;
}
.logo_site {
	width: 150px;
}
.slogan {
	padding-top: 430px;
	text-align: center;
	text-shadow: 2px 2px 2px grey;
	font-family: 'Eater', cursive;
	color: #111111;
	-moz-animation: flicker 4s 0s infinite;
	-webkit-animation: flicker 4s 0s infinite;
	animation: flicker 4s 0s infinite;
}
.loader{
	background: url('https://www.emuca.es/.resources/emuca/webresources/assets/img/loading.gif') 50% 50% no-repeat rgba(255, 255, 255, 0.8);
	cursor: wait;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.loader h1{
	background: none;
	border: none;
	color: #CD8F31;
	font-size: 40px;
	font-family: "Oswald";
	font-variant: small-caps;
	font-weight: 700;
	height: 700px;
	line-height: 700px;
	margin-top: 150px;
	padding: 0;
	text-align: center;
}
.bouton {
	text-align: center;
	padding-top: 50px;
}
/* Réseaux sociaux */
.image_reseaux
{
	width: 45px;
}

/* Global */
.titre {
	margin-top: 20px;
	font-size: 40px;
	font-family: 'Eater', cursive;
	text-align: center;
	margin-bottom: 10px;
}
.alert-heading {
	font-family: 'Eater', cursive;
}
hr.tiret_news {
	width: 70%;
	border-top: 2px solid orange;
}
.image_news {
	border: 1px solid grey;
	border-radius: 100%;
	width: 200px;
	height: 200px;
	object-fit: cover;
}
.news {
	text-align: center;
	margin-bottom: 50px;
}
.image_news {
	border: 1px solid grey;
	border-radius: 100%;
	width: 200px;
	height: 200px;
	object-fit: cover;
}
.effet_news {
	display: inline-block;
	position: relative;
}
.effet_news:hover p.text  {
	opacity: 1;
}
.effet_news p.text  {
	color: #FFF;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	padding-top: 85px;
	opacity: 0;
	display: block;
	position: absolute;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
}
.titre_news, .titre_news a {
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 17px;
}
.description_news, .bloc_auteur {
	font-size: 12px;
	text-align: justify;
}
.auteur_news {
	float: left;
}
.date_news {
	float: right;
}
/* Footer */
.footer 
{
	background: #333333;
	height: auto;
	color: white;
	font-size: 15px;
	padding-bottom: 20px;
	padding-top: 10px;
	border-bottom: 1px solid #212121;
	border-top: 1px solid orange;
}
.footer h3 
{
	border-bottom: 1px solid orange;
	color: white;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding-top: 20px;
	padding: 10px 0 10px;
	text-transform: uppercase;
}
.footer p 
{
	color: white;
}
.footer-bottom 
{
	background: #212121;
	border-top: 1px solid #212121;
	padding-top: 10px;
	width: auto;
	font-size: 15px;
	text-align: center;
	padding-bottom: 5px;
}
footer-bottom p.pull-left 
{
	color: white;
}
.pull-left 
{
	color: white;
}
.lien_site li
{
	display: inline-block;
}
.lien_site a
{
	color: white;
}
.lien_site a:hover
{
	color: grey;
	text-decoration: none;
}

#temporate-message{
	position: fixed;
	top:100px;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	border: 1px solid grey;
	padding:20px;
	border-radius: 6px;
	text-align: center;
	-webkit-box-align: center;
}

@media screen and (max-width: 480px){
	header {
		background-image: url('https://www.mangasfan.fr/temp/hallo2.jpg');
		background-size: cover;
		background-position: 51.5% center;
		background-repeat: no-repeat;
		color: white;
		height: 500px;
	}
	.slogan {
		padding-top: 300px;
		font-size: 19px;
	}

	.image_archives {
		width: 100%;
	}
}

/* Halloween */
/* line 17, ../sass/test.scss */
[class*="spider"] {
	position: absolute;
	height: 40px;
	width: 50px;
	z-index: 2;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 40px 0 0 0;
	background: #110D04;
}

/* line 25, ../sass/test.scss */
[class*="spider"] *, [class*="spider"]:before, [class*="spider"]:after, [class*="spider"] :after, [class*="spider"] :before {
	position: absolute;
	content: "";
}

/* line 30, ../sass/test.scss */
[class*="spider"]:before {
	width: 1px;
	background: #AAAAAA;
	left: 50%;
	top: -320px;
	height: 320px;
}

/* line 38, ../sass/test.scss */
[class*="spider"] .eye {
	top: 16px;
	height: 14px;
	width: 12px;
	background: #FFFFFF;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/* line 45, ../sass/test.scss */
[class*="spider"] .eye:after {
	top: 6px;
	height: 5px;
	width: 5px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: black;
}

/* line 53, ../sass/test.scss */
[class*="spider"] .eye.left {
	left: 14px;
}

/* line 56, ../sass/test.scss */
[class*="spider"] .eye.left:after {
	right: 3px;
}

/* line 61, ../sass/test.scss */
[class*="spider"] .eye.right {
	right: 14px;
}

/* line 64, ../sass/test.scss */
[class*="spider"] .eye.right:after {
	left: 3px;
}
/* line 70, ../sass/test.scss */
[class*="spider"] .leg {
	top: 6px;
	height: 12px;
	width: 14px;
	position: absolute;
	border-top: 2px solid #110D04;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	z-index: -1;
}

/* line 80, ../sass/test.scss */
[class*="spider"] .leg.left {
	left: -8px;
	-moz-transform-origin: top right;
	-ms-transform-origin: top right;
	-webkit-transform-origin: top right;
	transform-origin: top right;
	-moz-transform: rotate(36deg) skewX(-20deg);
	-ms-transform: rotate(36deg) skewX(-20deg);
	-webkit-transform: rotate(36deg) skewX(-20deg);
	transform: rotate(36deg) skewX(-20deg);
	border-left: 2px solid #110D04;
	-moz-border-radius: 60% 0 0 0;
	-webkit-border-radius: 60%;
	border-radius: 60% 0 0 0;
	-moz-animation: legs-wriggle-left 1s 0s infinite;
	-webkit-animation: legs-wriggle-left 1s 0s infinite;
	animation: legs-wriggle-left 1s 0s infinite;
}

/* line 89, ../sass/test.scss */
[class*="spider"] .leg.right {
	right: -8px;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-moz-transform: rotate(-36deg) skewX(20deg);
	-ms-transform: rotate(-36deg) skewX(20deg);
	-webkit-transform: rotate(-36deg) skewX(20deg);
	transform: rotate(-36deg) skewX(20deg);
	border-right: 2px solid #110D04;
	-moz-border-radius: 0 60% 0 0;
	-webkit-border-radius: 0;
	border-radius: 0 60% 0 0;
	-moz-animation: legs-wriggle-right 1s 0.2s infinite;
	-webkit-animation: legs-wriggle-right 1s 0.2s infinite;
	animation: legs-wriggle-right 1s 0.2s infinite;
}

/* line 98, ../sass/test.scss */
[class*="spider"] .leg:nth-of-type(2) {
	top: 14px;
	left: -11px;
	-moz-animation: legs-wriggle-left 1s 0.8s infinite;
	-webkit-animation: legs-wriggle-left 1s 0.8s infinite;
	animation: legs-wriggle-left 1s 0.8s infinite;
}

/* line 104, ../sass/test.scss */
[class*="spider"] .leg:nth-of-type(3) {
	top: 22px;
	left: -12px;
	-moz-animation: legs-wriggle-left 1s 0.2s infinite;
	-webkit-animation: legs-wriggle-left 1s 0.2s infinite;
	animation: legs-wriggle-left 1s 0.2s infinite;
}

/* line 110, ../sass/test.scss */
[class*="spider"] .leg:nth-of-type(4) {
	top: 31px;
	left: -10px;
	-moz-animation: legs-wriggle-left 1s 0.4s infinite;
	-webkit-animation: legs-wriggle-left 1s 0.4s infinite;
	animation: legs-wriggle-left 1s 0.4s infinite;
}

/* line 116, ../sass/test.scss */
[class*="spider"] .leg:nth-of-type(6) {
	top: 14px;
	right: -11px;
	-moz-animation: legs-wriggle-right 1s 0.4s infinite;
	-webkit-animation: legs-wriggle-right 1s 0.4s infinite;
	animation: legs-wriggle-right 1s 0.4s infinite;
}

/* line 122, ../sass/test.scss */
[class*="spider"] .leg:nth-of-type(7) {
	top: 22px;
	right: -12px;
	-moz-animation: legs-wriggle-right 1s 0.7s infinite;
	-webkit-animation: legs-wriggle-right 1s 0.7s infinite;
	animation: legs-wriggle-right 1s 0.7s infinite;
}

/* line 128, ../sass/test.scss */
[class*="spider"] .leg:nth-of-type(8) {
	top: 31px;
	right: -10px;
	-moz-animation: legs-wriggle-right 1s 0.3s infinite;
	-webkit-animation: legs-wriggle-right 1s 0.3s infinite;
	animation: legs-wriggle-right 1s 0.3s infinite;
}

/* line 136, ../sass/test.scss */
.spider_0 {
	left: 5%;
	-moz-animation: spider-move-0 5s infinite;
	-webkit-animation: spider-move-0 5s infinite;
	animation: spider-move-0 5s infinite;
}

/* line 141, ../sass/test.scss */
.spider_1 {
	left: 20%;
	-moz-animation: spider-move-1 5s infinite;
	-webkit-animation: spider-move-1 5s infinite;
	animation: spider-move-1 5s infinite;
}

/* line 146, ../sass/test.scss */
.spider_2 {
	left: 35%;
	-moz-animation: spider-move-2 5s infinite;
	-webkit-animation: spider-move-2 5s infinite;
	animation: spider-move-2 5s infinite;
}

/* line 151, ../sass/test.scss */
.spider_3 {
	right: 35%;
	margin-top: 160px;
	-moz-animation: spider-move-3 5s infinite;
	-webkit-animation: spider-move-3 5s infinite;
	animation: spider-move-3 5s infinite;
}

/* line 157, ../sass/test.scss */
.spider_4 {
	right: 20%;
	margin-top: 50px;
	-moz-animation: spider-move-4 5s infinite;
	-webkit-animation: spider-move-4 5s infinite;
	animation: spider-move-4 5s infinite;
}

/* line 163, ../sass/test.scss */
.spider_5 {
	right: 5%;
	margin-top: 210px;
	-moz-animation: spider-move-5 5s infinite;
	-webkit-animation: spider-move-5 5s infinite;
	animation: spider-move-5 5s infinite;
}

/* line 179, ../sass/test.scss */
.web-right {
	position: absolute;
	height: 200px;
	width: auto;
	right: 0px;
	top: -10px;
	z-index: 1;
	opacity: 1
}

/* line 189, ../sass/test.scss */
.web-left {
	position: absolute;
	left: -10px;
	top: -10px;
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	z-index: 1;
	opacity: 1;
}

@-moz-keyframes flicker {
	0%, 6%, 12% {
		text-shadow: none;
		color: #111111;
	}
	3%, 9% {
		text-shadow: 0 0 8px rgba(250, 103, 1, 0.6);
		color: #fa6701;
	}
	60% {
		text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
		color: #fa6701;
	}
	100% {
		text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
		color: #fa6701;
	}
}
@-webkit-keyframes flicker {
	0%, 6%, 12% {
		text-shadow: none;
		color: #111111;
	}
	3%, 9% {
		text-shadow: 0 0 8px rgba(250, 103, 1, 0.6);
		color: #fa6701;
	}
	60% {
		text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
		color: #fa6701;
	}
	100% {
		text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
		color: #fa6701;
	}
}
@keyframes flicker {
	0%, 6%, 12% {
		text-shadow: none;
		color: #111111;
	}
	3%, 9% {
		text-shadow: 0 0 8px rgba(250, 103, 1, 0.6);
		color: #fa6701;
	}
	60% {
		text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
		color: #fa6701;
	}
	100% {
		text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
		color: #fa6701;
	}
}
@-moz-keyframes legs-wriggle-left {
	0%, 100% {
		-moz-transform: rotate(36deg) skewX(-20deg);
		transform: rotate(36deg) skewX(-20deg);
	}
	25%, 75% {
		-moz-transform: rotate(15deg) skewX(-20deg);
		transform: rotate(15deg) skewX(-20deg);
	}
	50% {
		-moz-transform: rotate(45deg) skewX(-20deg);
		transform: rotate(45deg) skewX(-20deg);
	}
}
@-webkit-keyframes legs-wriggle-left {
	0%, 100% {
		-webkit-transform: rotate(36deg) skewX(-20deg);
		transform: rotate(36deg) skewX(-20deg);
	}
	25%, 75% {
		-webkit-transform: rotate(15deg) skewX(-20deg);
		transform: rotate(15deg) skewX(-20deg);
	}
	50% {
		-webkit-transform: rotate(45deg) skewX(-20deg);
		transform: rotate(45deg) skewX(-20deg);
	}
}
@keyframes legs-wriggle-left {
	0%, 100% {
		-moz-transform: rotate(36deg) skewX(-20deg);
		-ms-transform: rotate(36deg) skewX(-20deg);
		-webkit-transform: rotate(36deg) skewX(-20deg);
		transform: rotate(36deg) skewX(-20deg);
	}
	25%, 75% {
		-moz-transform: rotate(15deg) skewX(-20deg);
		-ms-transform: rotate(15deg) skewX(-20deg);
		-webkit-transform: rotate(15deg) skewX(-20deg);
		transform: rotate(15deg) skewX(-20deg);
	}
	50% {
		-moz-transform: rotate(45deg) skewX(-20deg);
		-ms-transform: rotate(45deg) skewX(-20deg);
		-webkit-transform: rotate(45deg) skewX(-20deg);
		transform: rotate(45deg) skewX(-20deg);
	}
}
@-moz-keyframes legs-wriggle-right {
	0%, 100% {
		-moz-transform: rotate(-36deg) skewX(20deg);
		transform: rotate(-36deg) skewX(20deg);
	}
	25%, 75% {
		-moz-transform: rotate(-15deg) skewX(20deg);
		transform: rotate(-15deg) skewX(20deg);
	}
	50% {
		-moz-transform: rotate(-45deg) skewX(20deg);
		transform: rotate(-45deg) skewX(20deg);
	}
}
@-webkit-keyframes legs-wriggle-right {
	0%, 100% {
		-webkit-transform: rotate(-36deg) skewX(20deg);
		transform: rotate(-36deg) skewX(20deg);
	}
	25%, 75% {
		-webkit-transform: rotate(-15deg) skewX(20deg);
		transform: rotate(-15deg) skewX(20deg);
	}
	50% {
		-webkit-transform: rotate(-45deg) skewX(20deg);
		transform: rotate(-45deg) skewX(20deg);
	}
}
@keyframes legs-wriggle-right {
	0%, 100% {
		-moz-transform: rotate(-36deg) skewX(20deg);
		-ms-transform: rotate(-36deg) skewX(20deg);
		-webkit-transform: rotate(-36deg) skewX(20deg);
		transform: rotate(-36deg) skewX(20deg);
	}
	25%, 75% {
		-moz-transform: rotate(-15deg) skewX(20deg);
		-ms-transform: rotate(-15deg) skewX(20deg);
		-webkit-transform: rotate(-15deg) skewX(20deg);
		transform: rotate(-15deg) skewX(20deg);
	}
	50% {
		-moz-transform: rotate(-45deg) skewX(20deg);
		-ms-transform: rotate(-45deg) skewX(20deg);
		-webkit-transform: rotate(-45deg) skewX(20deg);
		transform: rotate(-45deg) skewX(20deg);
	}
}
@-moz-keyframes spider-move-0 {
	0%, 100% {
		margin-top: 88px;
	}
	49% {
		margin-top: calc(88px + 33px);
	}
}
@-webkit-keyframes spider-move-0 {
	0%, 100% {
		margin-top: 88px;
	}
	49% {
		margin-top: calc(88px + 33px);
	}
}
@keyframes spider-move-0 {
	0%, 100% {
		margin-top: 88px;
	}
	49% {
		margin-top: calc(88px + 33px);
	}
}
@-moz-keyframes spider-move-1 {
	0%, 100% {
		margin-top: 49px;
	}
	52% {
		margin-top: calc(49px + 36px);
	}
}
@-webkit-keyframes spider-move-1 {
	0%, 100% {
		margin-top: 49px;
	}
	52% {
		margin-top: calc(49px + 36px);
	}
}
@keyframes spider-move-1 {
	0%, 100% {
		margin-top: 49px;
	}
	52% {
		margin-top: calc(49px + 36px);
	}
}
@-moz-keyframes spider-move-2 {
	0%, 100% {
		margin-top: 155px;
	}
	59% {
		margin-top: calc(155px + 110px);
	}
}
@-webkit-keyframes spider-move-2 {
	0%, 100% {
		margin-top: 155px;
	}
	59% {
		margin-top: calc(155px + 110px);
	}
}
@keyframes spider-move-2 {
	0%, 100% {
		margin-top: 155px;
	}
	59% {
		margin-top: calc(155px + 110px);
	}
}
@-moz-keyframes spider-move-3 {
	0%, 100% {
		margin-top: 139px;
	}
	58% {
		margin-top: calc(139px + 113px);
	}
}
@-webkit-keyframes spider-move-3 {
	0%, 100% {
		margin-top: 139px;
	}
	58% {
		margin-top: calc(139px + 113px);
	}
}
@keyframes spider-move-3 {
	0%, 100% {
		margin-top: 139px;
	}
	58% {
		margin-top: calc(139px + 113px);
	}
}
@-moz-keyframes spider-move-4 {
	0%, 100% {
		margin-top: 88px;
	}
	38% {
		margin-top: calc(88px + 51px);
	}
}
@-webkit-keyframes spider-move-4 {
	0%, 100% {
		margin-top: 88px;
	}
	38% {
		margin-top: calc(88px + 51px);
	}
}
@keyframes spider-move-4 {
	0%, 100% {
		margin-top: 88px;
	}
	38% {
		margin-top: calc(88px + 51px);
	}
}
@-moz-keyframes spider-move-5 {
	0%, 100% {
		margin-top: 166px;
	}
	35% {
		margin-top: calc(166px + 114px);
	}
}
@-webkit-keyframes spider-move-5 {
	0%, 100% {
		margin-top: 166px;
	}
	35% {
		margin-top: calc(166px + 114px);
	}
}
@keyframes spider-move-5 {
	0%, 100% {
		margin-top: 166px;
	}
	35% {
		margin-top: calc(166px + 114px);
	}
}