.contenu {
	margin-top: 55px;
}
a.lien_nav_staff {
	color: grey;
	font-size: 14px;
}
a.lien-staff {
	color: grey;
}
/* Footer */
.footer 
{
	background: #333333;
	height: auto;
	color: white;
	font-size: 15px;
	padding-bottom: 20px;
	padding-top: 10px;
	border-bottom: 1px solid #212121;
	border-top: 1px solid #DDDDDD;
}
.footer h3 
{
	border-bottom: 1px solid #BAC1C8;
	color: white;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding-top: 20px;
	padding: 10px 0 10px;
	text-transform: uppercase;
}
.footer p 
{
	color: white;
}
.footer-bottom 
{
	background: #212121;
	border-top: 1px solid #212121;
	padding-top: 10px;
	width: auto;
	font-size: 15px;
	text-align: center;
	padding-bottom: 5px;
}
footer-bottom p.pull-left 
{
	color: white;
}
.pull-left 
{
	color: white;
}
.lien_site li
{
	display: inline-block;
}
.lien_site a
{
	color: white;
}
.lien_site a:hover
{
	color: grey;
	text-decoration: none;
}
.image_reseaux {
	width: 35px;
}

.avatar_site img
{
	padding-top: 15px;
	width: 100px;
	display: block;
	margin: auto;
}
.titre {
	margin-top: 20px;
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}

.spoiler {
  border: 1px solid #ff0000;
  background-color: blue;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline;
}

/* Rédaction */

div#navigation span{
	display:inline-block;
	margin:auto;
	width:15%;
	border:1px solid #C89DE7;
	color:#C89DE7;
	border-radius:5px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:15px;
	text-align:center;
	transition: all ease 300ms;
	word-wrap: break-word;
}

div#navigation span:hover{
	border:1px solid #A840D5;
	color:#A840D5;

}

span.modif_cat,span.modif_page{
	cursor:pointer;
	transition: all ease 300ms;
}

span.modif_cat:hover,span.modif_page:hover{
	transition: all ease 300ms;
}

span.clique_onglet{
	background-color:#C67EE5!important;
	color:white!important;
	border-color:#C67EE5!important;
}