body
{
	background-color: white;
	margin: auto;
}
#bloc_page
{
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	width: 1200px;
	margin: auto;
	background-color: white;
}
section
{
	padding: 20px;
}
/* Navigation */
header
{
	background-image: url('images/ban_arrondie-min.png');
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
	color: white;
	height: 700px;
}
a
{
	color: grey;
}
.marge_page
{
	padding: 20px;
}
.avatar_menu
{
	max-height: 85px; 
	max-width: 95px;
	padding-top: 10px;
}
.titre_site
{
	text-align: center;
	text-transform: uppercase;
	margin-top: 210px;
	font-size: 60px;
}
.slogan_site
{
	text-align: center;
	font-size: 13px;
}
.bouton
{
	text-align: center;
	margin-top: 20px;
}
img.image_team
{
	margin-top: 30px;
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.table
{
	width: 80%!important;
	margin: auto;
}
/* Erreurs */
#erreur { 
	background-image: url('https://i.stack.imgur.com/IehB7.png');
}
.bloc_erreur {
	color: white;
	text-align: center;
	padding-top: 30px;
}
.boutons_erreurs { 
	margin-top: 20px; 
}
.explication_erreur
{
	padding-top: 10px;
}
.image_erreur
{
	padding-top: 10px;
	width: 250px;
}
/* News du site */
hr.tiret_news
{
	width: 70%;
}
.titre_news
{
	text-align: center;
}
.titre_news a
{
	color: black;
}
.titre_principal_news
{
	margin-top: 20px;
	font-size: 40px;
	text-align: center;
	margin-bottom: 10px;
}
.titre_secondaire
{
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}
.titre_petit
{
	font-size: 25px;
	text-align: center;
	margin-bottom: 10px;
}
.conteneur
{
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.element
{
	width: 300px;
	margin-bottom: 40px;
	text-align: center;
}
.image_news
{
	border: 1px solid grey;
	border-radius: 100%;
	width: 200px;
	height: 200px;
	object-fit: cover;
}
.effet_news
{
    text-align: center;
    display: inline-block;
    position: relative;
}
.effet_news:hover p.text 
{
    opacity: 1;
}
.effet_news p.text 
{
    color: #FFF;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    padding-top: 85px;
    opacity: 0;
    display: block;
    position: absolute;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
}
.titre_news
{
	font-weight: bold;
	font-size: 17px;
}
.description_news, .bloc_auteur
{
	font-size: 12px;
	text-align: justify;
}
.auteur_news
{
	float: left;
}
.date_news
{
	float: right;
}
.contenu_commentaire
{
	padding-top: 40px;
}
.image_tiny
{
	max-width: 100%;
}
.auteur_news_commentaire
{
	padding-top: 15px;
	text-align: right; 
}
.sources
{
	padding-top: 20px;
}
img.image_archive
{
	margin: auto;
	display: block;
}
/* MP */
.new_mp
{
	width: 20px;
}
.image_enveloppe_mp
{
	width: 150px;
}
.image_enveloppe_mp_accueil
{
	width: 50px;
}
#entete_mp
{
	padding-left: 20px;
	font-size: 16px;
}
#avatar_mp img
{
    max-height: 200px;
    margin-right: 20px;
	max-width: 150px;
}

/* Commentaires des news */
#entete_commentaire
{
	font-weight: bold;
}

div.espace_commentaire > h3[name="titre_commentaire_news"] 
{
	text-transform: uppercase;
	display: block;
	border-bottom: 2px solid white;
	width: 50%;
	padding-bottom: 3px;
	margin-left: 15px;
	padding-top: 15px;
	font-family: 'Marvel', serif;
}
form[name="formulaire_commentaire_supp"] 
{
	margin-top: 50px;
}
label[name="label_commentaire"] 
{ 
	font-family: 'Marvel',serif;
	color: black;
	font-size: 20px!important;
}
td[name="colonne_commentaire"] > span.pseudo
{
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin-top: 5px;
}
table[name="tableau_commentaire_news"]
{
	border-collapse: collapse;
	margin: auto;
	width: 900px;
}
td[name="colonne_commentaire"] 
{
	vertical-align: top;
}
tr[name="commentaire_news_tr"] > td[name="colonne_commentaire"] + td[name="colonne_commentaire"]
{
	margin-left: 5px;
	vertical-align: top;
	position: relative;
	width: 800px;
}
textarea[name="comme"]
{
	width:100%;
}
td[name="colonne_commentaire"] > p 
{
	padding: 5px;
}
.avatar
{
	width: 100px;
	height: 100px;
	border: 3px solid white;
	border-radius: 100px;
	box-shadow: 0px 0px 2px 2px #276FA1;
	margin-top: 5px;
	margin-bottom: 10px;
}
.bottom
{
	position: absolute;
	text-align: right;
	color: grey;
	font-size: 13px;
	bottom: 32px;
	padding-right: 5px;
	width: 675px;
}
.pointe
{
	display: inline-block;
	height: 0;
	vertical-align: top;
	width: 0;
	border-top: 16px solid #D2D1D0;
	border-left: 20px solid transparent;
	position: relative;
	left: 6px;
	top: 11px;
}
.pointe2
{
	display: inline-block;
	vertical-align: top;
	height: 0;
	width: 0;
	border-top: 24px solid #E2E2E2;
	border-left: 28px solid transparent;
	position: relative;
	left: 26px;
	top: 8px;
}
.contenu
{
	display: inline-block;
	word-wrap: break-word;
	width: 100%;
	max-width: 700px;
	min-height: 150px;
	border-radius: 10px;
	border: 2px solid #D3D3D3;
	box-shadow: 0px 0px 2px 2px #E2E2E2;
	padding: 15px;
	margin-bottom: 25px;
}
.bouton_app 
{
	opacity: 0;
	transform: translateY(-5px);
	transition: all ease 300ms;
	position: absolute;
	vertical-align: top;
}
tr[name="commentaire_news_tr"]:hover .bouton_app 
{
	opacity: 1;
	transform: translateY(0px);
	transition: all ease 300ms;
}
.pseudo
{
	margin-bottom: 10px;
	font-size: 13px;
}

/* Formulaire de contact */
.formulaire_contact
{
	padding: 15px;
	margin-bottom: 20px;
}
/* Staff */
.badge-warning
{
	color: white!important;
}
.badge-membre
{
	color: white;
	background-color: #2E9AFE;
}
.badge-redacteur
{
	color: white;
	background-color: #40A497;
}
.badge-community
{
	color: white;
	background-color: #632569;
}
.badge-admin
{
	color: white;
	background-color: darkblue;
}
.badge-bot
{
	color: white;
	background-color: #1BB078;
}
a.lien_staff
{
	color: grey;
}
div.red
{
	background-color: #E93735;
	color: white;
}
div.green
{
	 background-color: #31B404;
	 color: white;
}
div.blue
{
	 background-color: #40A497;
	 color: white;
}
div.orange
{
	 background-color: orange;
	 color: white;
}
div.purple
{
	background-color: #632569;
	color: white;
}
.navbar_staff
{
	border-bottom: 1px solid grey;
}
/* Derniers articles */
#conteneur_dossiers
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 250px;
}
div.gallery img {
    width: 100%;
    height: 400px;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.titre
{
	color: black;
	text-align: center;
	font-family: 'Oswald', cursive;
	font-size: 30px;
	padding-top: 20px;
}
/* Galeries */
.titre_description_galerie
{
	font-family: 'Oswald';
	padding-bottom: 5px;
	font-size: 22px;
	text-decoration: underline;
}

/* Page profil */
#view_profil
{
	display: flex;
}
.element_profil:nth-child(1)
{
   	margin: auto;
    margin-left: 20px;
    margin-right: 40px;
}
.element_profil:nth-child(2)
{
    flex: 0.9;
    padding: 10px;
    background-color: #D8D8D8;
    color: black;
    font-size: 15px;
}
.card
{
	margin-bottom: 20px;
}
/* Footer */
.footer 
{
	background: #333333;
	height: auto;
	color: white;
	font-size: 15px;
	padding-bottom: 20px;
	padding-top: 10px;
	border-bottom: 1px solid #212121;
	border-top: 1px solid #DDDDDD;
}
.footer h3 
{
    border-bottom: 1px solid #BAC1C8;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding-top: 20px;
    padding: 10px 0 10px;
    text-transform: uppercase;
}
.footer p 
{
    color: white;
}
.footer-bottom 
{
	background: #212121;
	border-top: 1px solid #212121;
	padding-top: 10px;
	width: auto;
	font-size: 15px;
	text-align: center;
	padding-bottom: 5px;
}
footer-bottom p.pull-left 
{
	color: white;
}
.pull-left 
{
	color: white;
}
.lien_site li
{
	display: inline-block;
}
.lien_site a
{
	color: white;
}
.lien_site a:hover
{
	color: grey;
	text-decoration: none;
}
/* Réseaux sociaux */
.image_reseaux
{
	width: 30px;
}
/* Galeries */
#conteneur_galerie
{
	display: flex;
	flex-wrap: wrap;
}
#card-galerie
{
	width: 315px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.image
{
	width: 100%;
	height: 200px; 
}
.image_galeries
{
	display: block;
	margin: auto;
	padding-top: 10px;
	max-width: 100%;
	max-height: 100%;
}

/* Bannissement */
#bloc_bannissement
{
	background-image: url('https://i.stack.imgur.com/IehB7.png');
	margin-left: auto;
	color: white;
	margin-right: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.image_bannissement
{
	padding-top: 50px;
	width: 20%;
}
.footer_ban
{
	font-size: 11px;
}
@media screen and (max-width: 800px){
	.mx-auto
	{
		text-align: left;
	}
	#bloc_page
	{
		width: auto;
	}
	header
	{
		width: auto;
		height: 300px;
		background-image: url(https://www.mangasfan.fr/images/banniere_mobile.jpg);
		background-position: 50% 40%;
	}
	.titre_site
	{
		text-align: center;
		text-transform: uppercase;
		margin-top: 40px;
		font-size: 50px;
	}
	.slogan_site
	{
		text-align: center;
		font-size: 13px;
	}
	.tableau_mobile
	{
		display: none;
	}
	.image_archive
	{
		width: 350px;
	}
	.element
	{
		margin: auto;
		margin-bottom: 40px;
	}
	.image_tiny
	{
		width: 100%;
		height: auto;
	}
	iframe
	{
		width: 90%;
	}
	div.espace_commentaire > h3[name="titre_commentaire_news"] 
	{
		text-transform: uppercase;
		display: block;
		border-bottom: 2px solid white;
		padding-bottom: 3px;
		padding-top: 15px;
		font-family: 'Marvel', serif;
	}
	form[name="formulaire_commentaire_supp"] 
	{
		margin-top: 50px;
	}

	td[name="colonne_commentaire"] > span.pseudo
	{
		text-transform: uppercase;
		font-weight: bold;
		display: block;
		margin-top: 5px;
	}
	table[name="tableau_commentaire_news"]
	{
		border-collapse: collapse;
		width: 100%;
		margin: 0;
	}
	tr[name="commentaire_news_tr"] > td[name="colonne_commentaire"] + td[name="colonne_commentaire"]
	{
		margin-left: 0px;
		vertical-align: top;
		position: relative;
		width: 100%;
	}
	textarea[name="comme"]
	{
		width: 90%;
		font-size: 14px;
	}
	.avatar
	{
		display: none;
	}
	.bottom
	{
	    text-align: left;
	    color: grey;
	    font-size: 13px;
	    bottom: 32px;
	    padding-right: 25px;
	    width: auto;
	}
	.pointe
	{
		display: none;
	}
	.pointe2
	{
		 display: none;
	}
	.contenu
	{
		padding-top: 40px;
		font-size: 13px;
		margin-bottom: 25px;
	}
	.bouton_app
	{
		display: none;
	}
	.pseudo
	{
		position: absolute;
		left: 10%;
		font-size: 14px;
		text-align: left;
		padding-top: 10px;
		border-bottom: 1px solid black;
		width: 50%;
	}
	.marge_page
	{
		padding: 10px;
	}
	#view_profil
	{
		display: flex;
		flex-direction: column;
	}
	.element_profil:nth-child(1)
	{
	   	margin: auto;
	    margin-left: 20px;
	    margin-right: 40px;
	    margin-bottom: 20px;
	}
	.element_profil:nth-child(2)
	{
	    flex: 0;
	    padding: 10px;
	    margin-bottom: 20px;
	}
	.card
	{
		margin-bottom: 20px;
	}

}
