.elt_parent{
	display:block;
	width:95%;
	text-align:center;
	margin:auto;
	margin-bottom:5px;
}

.galery{
	display:inline-block;
	position:relative;
	width:200px;
	height:275px;
	margin-bottom:5px;
	border:1px solid black;
	border-radius:5px;
}

.title_gal{
	position:absolute;
	bottom:0;
	width:100%;
	height:auto;
	background:url('https://zupimages.net/up/18/26/c5wf.png');
	font-family:'Marvel', serif;
	font-size:22px;
	color:white;
	padding-top:5px;
}

.info{
	display:none;
	width:550px;
	height:250px;
	margin:auto;
	margin-bottom:30px;
	border-radius:15px;
	border:1px solid #c0c0c0;
	-moz-box-shadow: 2px 2px 5px 0px #c0c0c0;
	-webkit-box-shadow: 2px 2px 5px 0px #c0c0c0;
	-o-box-shadow: 2px 2px 5px 0px #c0c0c0;
	box-shadow: 2px 2px 5px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);
}

.table_info{
	margin:auto;
	border-collapse:collapse;
	margin-bottom:20px;
}

.table_info td:first-of-type{
	width:220px;
	padding:5px;
	text-align:center;
}

.table_info td:last-of-type {
	width:270px;
	vertical-align:top;
	padding:10px;
}

div.commentary{
	height:180px;
	overflow-y: auto;
	overflow-x: hidden;
}

div.commentary ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

div.commentary ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

div.commentary ::-webkit-scrollbar-thumb {
  background: #a4cbe8;
  border: 0px none #ad0303;
  border-radius: 50px;
}

div.commentary ::-webkit-scrollbar-thumb:hover {
  background: #6faddb;
}

div.commentary ::-webkit-scrollbar-thumb:active {
  background: #6dacda;
}

div.commentary ::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #b3922f;
  border-radius: 50px;
}

div.commentary ::-webkit-scrollbar-track:hover {
  background: #ffffff;
}

div.commentary ::-webkit-scrollbar-track:active {
  background: #ffffff;
}

div.commentary ::-webkit-scrollbar-corner {
  background: transparent;
}

.form-control[name="gal_title"],.form-control[name="gal_img1"],.form-control[name="gal_img2"],.form-control[name="gal_kw"]{	
  padding:none !important;
  width:30%;
  display:inline-block;
  margin-left:15px;
  margin-bottom:5px;
}

.form-control[name="red_gal"],.form-control[name="back_gal"]{
	display:block;
}