div#navigation{
	width:100%;
	margin:auto;
}

div#navigation span{
	display:inline-block;
	margin:auto;
	width:15%;
	border:1px solid #28A7CC;
	color:#28A7CC;
	border-radius:5px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:15px;
	text-align:center;
	transition: all ease 300ms;
	word-wrap: break-word;
}

div#navigation span:hover{
	border:1px solid #FF7D80;
	color:#FF7D80;

}

span.clique_onglet{
	background-color:#FF9598!important;
	color:white!important;
	border-color:#FF9598!important;
}

input[type="text"]{
	display:inline-block;
	width:30%;
	margin-bottom:20px;
}

.form-control[name="liste_categories"]{
	display:inline-block;
	width:30%;
	margin-bottom:20px;
}
label
{
	width:25%;
	padding-left:20px;
}
label[for="text_type"], label[for="mess_neutre"], label[for="pi_mess"]
{
	width: auto;
	padding: 0;
}
label[for="text_presentation"], label[for="text_redac"]{
	vertical-align: top;
	padding-top:5px;
}
input[name="type_message"]{
	margin-left:10px;
}

input[type="submit"][name="valid_entete"]{
	display:inline-block;
	margin-left:25%;
	margin-bottom:20px;
}
input[type="submit"][name="valid_presentation"]
{
	margin-top: 5px;
	margin-left: 5px;
}
input[name="new_cat"]{
	margin-left:25%;
	margin-right:0;
}

span.suppr_page,span.suppr_cat{
	color:black;
	cursor:pointer;
	transition: all ease 300ms;
}

span.suppr_page:hover,span.suppr_cat:hover{
	transition: all ease 300ms;
	color:red;
}

span.modif_cat,span.modif_page{
	color:black;
	cursor:pointer;
	transition: all ease 300ms;
}

span.modif_cat:hover,span.modif_page:hover{
	transition: all ease 300ms;
	color:orange;
}

.add_cat{
	display:inline-block;
	margin:auto;
	color:darkgreen!important;
	text-decoration:none!important;
	background:white;
	border:1px solid darkgreen;
	border-radius:3px;
	padding:5px 10px 5px 10px;
	transition: all ease 320ms;
}

.add_cat:hover{
	transition: all ease 320ms;
	background-color:darkgreen;
	color:white!important;
}


input[name="valid_nouvelle_cat"]{
	margin-left:0;
}