<footer class="bg-light text-center">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-4">
                Titre 1
            </div>
            <div class="col-lg-4">
                Titre 2
            </div>
            <div class="col-lg-4">
                Titre 3
            </div>
        </div>
    </div>
    <div class="bg-dark text-white p-2">
        <p>Version 7.5 de Mangas'Fan. Développée par Zekarant & Nico. Design by Asami. Tous droits réservés. Toute atteinte au droit d'auteur n'est pas désirée.</p>
        Propulsé par <a href="https://www.nexgate.ch/">https://www.nexgate.ch/</a>.
    </div>
</footer>