/* DEBUT CSS BLOGS/COMMENTAIRES */ 
#billets_blogs
{
	display: flex;
	flex-flow: wrap;	
	justify-content: center;
}
.element_blogs
{
	width: 340px;
	max-height: 200px;
	margin-right: 15px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 5px black;
}
.titre_billet
{
	font-size: 20px;
}
.image_blogs
{
	width: 100%;
	height: 100px;
	max-height: auto;
	max-width: auto;
}
.marge_page
{
	padding: 20px;
}
#billets_auteur
{
	background-color: #D8D8D8;
	border: 3px dashed black;
	padding: 10px;
}
.titre_billet_commentaire
{
	text-align: center;
	font-size: 30px;
}
.date_post
{
	text-align: right;
}
#bloc_commentaire
{
	width: 80%;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid grey;
}
.paragraphe_commentaire
{
	padding-bottom: 5px;
	width: 30%;
	border-bottom: 2px dashed black;
}