{% extends 'layouts/base.html.twig' %}

{% block title %}Éditer la news "{{ news.title }}"{% endblock %}

{% block body %}
    <h1>Éditer la news n°{{ news.id }}</h1>
    {{ include('news/_form.html.twig', {'submitButtonText': 'Modifier la news'}) }}
{% endblock %}
