{% extends 'base.html.twig' %}

{% block title %}{{ news.title }} - Mangas'Fan{% endblock %}
{% block body %}
    <article>
        <h1>{{ news.title }}</h1>
        <p>{{ news.description }}</p>
    </article>

    <a href="{{  path('app_home') }}">Retourner à l'accueil</a>
{% endblock %}