<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ path('app_home') }}">Accueil du site</a></li>
                <li><a href="{{ path('app_news_create') }}">Créer une nouvelle news</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
