/* Erreurs */
#erreur { 
	background-image: url('https://i.stack.imgur.com/IehB7.png');
}
.bloc_erreur {
	color: white;
	text-align: center;
	padding-top: 30px;
}
.boutons_erreurs { 
	margin-top: 20px; 
}
.explication_erreur
{
	padding-top: 10px;
}
.image_erreur
{
	padding-top: 10px;
	width: 250px;
}